@font-face
{
    font-family:"8bit";
    src: url(fonts/pressstart2p-regular-webfont.woff2) format("woff");
}

p{
    display:inline-block;
    font-size: 17px;
    font-family:'8bit';
    padding: 3px;
    border-radius:2px;
    margin:0px;
}

a{
    text-decoration:none;
}

input
{
    font-family:'8bit';
    width:100px;
}

h3
{
    border:0px;
    margin:0px;
    padding:0px;
    /* float:left; */
    /* width:200px; */
    display:inline;
}

ul
{
    display:inline;
    margin:0px;
}

#mem-list
{
    float:right;
}

#mem-list li
{
    float:right;
}

ul li{
    display:inline-block;
    list-style-type:none;
    padding:3px 3px;
}

table
{
    border-collapse: collapse;
    width:50%;
    margin-left:20%;
    margin-bottom: 30px;
}

td{
    border: 1px solid #dddddd;
    text-align:center;
    font-family:'8bit';
    padding:8px;
    color:steelblue;
}

tr:nth-child(even){
    background-color:tan;
}

tr:nth-child(odd){
    background-color: wheat;
}

.link{
    margin:10px;
}

#binaries{
    height:30px;
}

#canvas
{
    border:1px solid;
}

#machine-gui
{
    position:relative;
    /* display:inline; */
    float:right;
    background-color:#743f38;
    padding:10px;
    width:300px;
    height: 580px;
    /* display:inline-block; */
}

#machine-list
{
    /* float:left; */
    display:inline-block;
    padding:0px;
}
#machine-list li
{
    float:left;
}

/* #goto */
/* { */
/*     padding-top:5px; */
/* } */

/* #edit-mem */
/* { */
/*     visibility:hidden; */
/* } */

#bar
{
    background-color:#292b2c;
    color:white;
    width:923px;
    height:30px;
    padding:5px 20px;
    border:0px;
    /* display:block; */
    display:inline-block;
    font-family:'8bit';
}

#memdisplay
{
    /* position:relative; */
    /* display:inline; */
    /* float:right; */
    width:960px;
    display:inline-block;
}

.byte
{
    margin: 2px 3px;
    /* width:15px; */
    display:inline-block;
    text-align:center;
    border:0px;
}

.button{
    background-color:#007BFF;
    padding:3px;
    border-radius:3px;
    font-family:'8bit';
    color:white;
}

.button:hover{
    background-color: #28A745;
}

.container
{
    display: block;
    max-width:1290px;

    /* height:1000px; */
}
